<h1><center>Inference: Socio-economic wellness of South Africa</center></h1>

In [ ]:
import numpy as np
import pandas as pd

### **Intoduction**
We live in a beautiful diverse country. A country with beautiful people who get along and fight here and there, a country of great people who understand their differences to those they live with. A country where not everything is perfect but things could be better. In a country where people are either competing, getting by or barely surving day by day. We live in a very beautiful diverse country where people have different standards of living. Where standard of living is measured by what they have and what they are able to afford and what independant variables are exposed to some and not to others. In this Project we aim to identify the standard of living of south africans through a survey that was done nationally with a sample of approximately quarter of a million instance of people, where an instance is either an individual or a family.

#### **Research question**
Living in a developing country of diverse cultures, On Everage, do we have more people suffering or living on an everage standard of living or is majority of the people affording wealthy lifestyles?

#### **Hypothesis**
To answer the question we look at factors like the types of homes and facilities that people living in and ease of access to certain things and scarsity of certain things to different families and individuals. From there we then make in inference as to what is the dominating type of standard of living in South Africa. Before we begin, we have a hypothesis, that mojority of South Africans are living a normal standard of life, there's way lesser rich people and and the there are those who are poor whose numbers are more than those that are rich.

#### **Methodology**
Steps we plan to take in achieving our goal
1. Read in data
2. Remove Data we do no need (e.g colums with the same value throughout or nulls where appropriate)
3. Do further cleanings if necessary
4. Exploratory Data analyses of cleaned data
5. Add to this list after the first 4 steps

#### **Data Description**
It is worthy to mention that, like any other data, there might be data that is useless in terms of us answering the question at hand.
With that said, the data consists of `29 fields` in total and `246618 records`.

**The Data**
0. SN
    * This is a the serial number, this is a derived data which keeps is merely an index to of every record.
    * This field is irrelavant to us for the purposes of our project
1. Scope_Status
    * This field is also a derived and had nothing to do with the survey itself other.
    * Every Single record shares the same the value and therefore we will not be

In [34]:
df = pd.read_csv('CS2007!housing_F1.csv')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246618 entries, 0 to 246617
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SN                  246618 non-null  int64
 1   Scope_Status        246618 non-null  int64
 2   H01_Hu              246618 non-null  int64
 3   H02_Rooms           246618 non-null  object
 4   H03_Water_Access    246618 non-null  int64
 5   H04_Serv_Prov       246618 non-null  int64
 6   H05_Water_Distance  246618 non-null  int64
 7   H06_Toilet_Facil    246618 non-null  int64
 8   H07_Cooking         246618 non-null  int64
 9   H08_Heating         246618 non-null  int64
 10  H09_Lighting        246618 non-null  int64
 11  H10A_Fridge         246618 non-null  int64
 12  H10B_Radio          246618 non-null  int64
 13  H10D_Computer       246618 non-null  int64
 14  H10C_Television     246618 non-null  int64
 15  H10E_Telephone      246618 non-null  int64
 16  H10F_Internet       246618 non-null  int64
 17  H10G_Postfacil      246618 non-null  int64
 18  H10H_Cell           246618 non-null  int64
 19  H11_Tenure          246618 non-null  int64
 20  H12_Refuse          246618 non-null  int64
 21  HHIncome            246618 non-null  int64
 22  Weight              246618 non-null  float64
 23  Prv2001_Code        246618 non-null  int64
 24  Prv2005_Code        246618 non-null  int64
 25  DC2001_Code         246618 non-null  int64
 26  DC2005_Code         246618 non-null  int64
 27  Mun2001_Code        246618 non-null  int64
 28  Mun2005_Code        246618 non-null  int64
dtypes: float64(1), int64(27), object(1)
memory usage: 54.6+ MB

In [29]:
# Removing columns we don't need
df = df.drop(columns=['Scope_Status','SN'])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246618 entries, 0 to 246617
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SN                  246618 non-null  int64
 1   H01_Hu              246618 non-null  int64
 2   H02_Rooms           246618 non-null  object
 3   H03_Water_Access    246618 non-null  int64
 4   H04_Serv_Prov       246618 non-null  int64
 5   H05_Water_Distance  246618 non-null  int64
 6   H06_Toilet_Facil    246618 non-null  int64
 7   H07_Cooking         246618 non-null  int64
 8   H08_Heating         246618 non-null  int64
 9   H09_Lighting        246618 non-null  int64
 10  H10A_Fridge         246618 non-null  int64
 11  H10B_Radio          246618 non-null  int64
 12  H10D_Computer       246618 non-null  int64
 13  H10C_Television     246618 non-null  int64
 14  H10E_Telephone      246618 non-null  int64
 15  H10F_Internet       246618 non-null  int64
 16  H10G_Postfacil      246618 non-null  int64
 17  H10H_Cell           246618 non-null  int64
 18  H11_Tenure          246618 non-null  int64
 19  H12_Refuse          246618 non-null  int64
 20  HHIncome            246618 non-null  int64
 21  Weight              246618 non-null  float64
 22  Prv2001_Code        246618 non-null  int64
 23  Prv2005_Code        246618 non-null  int64
 24  DC2001_Code         246618 non-null  int64
 25  DC2005_Code         246618 non-null  int64
 26  Mun2001_Code        246618 non-null  int64
 27  Mun2005_Code        246618 non-null  int64
dtypes: float64(1), int64(26), object(1)
memory usage: 52.7+ MB